.classFilterSelect {
  min-width: 200px;
}

.currentLevelInput {
  max-width: 130px;
}

.spellcastingAbilityValueInput {
  max-width: 130px;
}

.titleFilterInput {
  max-width: 130px;
}

.knownSpellsCount,
.spellSaveDC {
  max-width: 100px;
}

.knownCantripsCount {
  max-width: 110px;
}

.spellAttackModifier {
  max-width: 140px;
}

.knownSpellsCountLabel {
  white-space: nowrap;
}

.field {
  display: inline-block;
}

.container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
