.container {
  margin-top: 1em;
  padding: 0 24px;

  & + & {
    margin-top: 2em;
  }
}

.levelHeader {
  margin-bottom: 0.5em;

  &.mobile {
    font-size: 1.4em;
  }
}

.header {
  top: 0;
  background-color: var(--color-background-main);
  z-index: 1;
  padding: 24px 24px 16px;

  @media (min-width: 995px) {
    position: sticky;
  }
}
