.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;

  & + & {
    margin-left: 1em;
  }
}

.label {
  font-size: 0.7em;
  white-space: nowrap;
}
