.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.consumed {
  position: relative;

  &:after {
    content: '*';
    position: absolute;
    right: -8px;
    top: -6px;
  }
}
