.description {
  padding-bottom: 2em;

  table {
    width: auto;
  }

  td, th {
    padding: 2px 8px;
    border: 1px solid var(--color-border-table);
  }

  h2 {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }

  p {
    text-indent: 1em;
  }

  strong {
    white-space: pre-wrap;
  }
}

.description > div > * + * {
  margin-top: 0.2em;
}

.additional {
  color: var(--color-font-secondary);
  font-size: 0.9em;
}
