.description {
  padding-bottom: 2em;

  table {
    width: auto;
  }

  td, th {
    padding: 2px 8px;
    border: 1px solid var(--color-border-table);
  }

  h2 {
    font-size: 1em;
    margin-top: 0.5em;
  }

  p {
    text-indent: 1em;
  }
}

.description > div > * + * {
  margin-top: 0.2em;
}

.row:hover {
  .cell {
    background-color: var(--color-background-light);
  }
}

.cellExpanded {
  @extend .cell;

  border-bottom: none;
}
