.cell {
  transition: background-color 0.3s;
  cursor: pointer;
}

.row {
  &:hover {
    .cell {
      background-color: var(--color-background-light);
    }
  }
}

.cellExpanded {
  @extend .cell;

  border-bottom: none;
}

.checkboxCell {
  padding: 0px;
  text-align: center;
}

.descriptionCell {
  width: 100px;
}
