.cell {
  transition: background-color 0.3s;
  cursor: pointer;
}

.row {
  &:hover {
    .cell {
      background-color: var(--color-background-light);
    }
  }
}

.cellExpanded {
  border-bottom: none;
}

.checkboxCell {
  padding: 0px;
  text-align: center;
}

.detailsMobileCell {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}
