.spellSlotsBadgeWrapper {
  display: inline-block;
  margin-left: 4px;
  position: absolute;
  top: 0;
  right: 0;

  & > span {
    text-decoration: none;
  }
}

.spellSlotsBadge {
  background-color: var(--color-background-badge);
  color: var(--color-font-badge);
  border-radius: 50%;
  padding: 0 4px;
  font-size: 0.8em;
  line-height: 1.3em;
}
