.classFilterSelect {
  min-width: 200px;
}

.currentLevelInput {
  max-width: 130px;
}

.spellcastingAbilityValueInput {
  max-width: 130px;
}

.knownSpellsCount {
  max-width: 90px;
}

.knownSpellsCountLabel {
  white-space: nowrap;
}

.field {
  display: inline-block;

  & + & {
    margin-left: 1em;
  }
}

.container {
  margin-bottom: 1em;
}
