.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &.mobile {
    display: flex;

    span > * {
      margin-left: 4px;
    }
  }
}

.item {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.special {
  position: relative;

  &:after {
    content: "*";
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    right: -10px;
    top: -6px;
  }
}

.specialTooltipBlock {
  margin-bottom: 1em;
}
