.tooltip {
  text-align: left;
}

.container {
  color: rgb(108, 108, 202);
  text-decoration: underline;
  text-decoration-style: dotted;
}

:global(.MuiTooltip-tooltip) {
  background-color: var(--color-background-tooltip);
  font-size: 1em;
}
