.tooltip {
  text-align: left;
}

.container {
  color: rgb(108, 108, 202);
  text-decoration: underline;
  // text-decoration-style: dotted;
}

:global(.tippy-tooltip [x-circle]) {
  border-radius: 10px !important;
}
